<i class="close icon" ng-click="cancel()"></i>

<div class="header">
  Adding a Score
</div>

<div class="content">
    <div class="ui page grid">
        <div class="doubling three column row">
            <div class="column"><div class="big ui green button" ng-class="pins < 1 ? 'disabled' : '' " ng-click="ok(1)">1</div></div>
            <div class="column"><div class="big ui green button" ng-class="pins < 2 ? 'disabled' : '' " ng-click="ok(2)">2</div></div>
            <div class="column"><div class="big ui green button" ng-class="pins < 3 ? 'disabled' : '' " ng-click="ok(3)">3</div></div>
        </div>

        <div class="doubling three column row">
            <div class="column"><div class="big ui green button" ng-class="pins < 4 ? 'disabled' : '' " ng-click="ok(4)">4</div></div>
            <div class="column"><div class="big ui green button" ng-class="pins < 5 ? 'disabled' : '' " ng-click="ok(5)">5</div></div>
            <div class="column"><div class="big ui green button" ng-class="pins < 6 ? 'disabled' : '' " ng-click="ok(6)">6</div></div>
        </div>

        <div class="doubling three column row">
            <div class="column"><div class="big ui green button" ng-class="pins < 7 ? 'disabled' : '' " ng-click="ok(7)">7</div></div>
            <div class="column"><div class="big ui green button" ng-class="pins < 8 ? 'disabled' : '' " ng-click="ok(8)">8</div></div>
            <div class="column"><div class="big ui green button" ng-class="pins < 9 ? 'disabled' : '' " ng-click="ok(9)">9</div></div>
        </div>

        <div class="doubling three column row">
            <div class="column"><div class="big ui primary button" ng-class="pins < 10 ? 'disabled' : '' " ng-click="ok(10)">Strike</div></div>
            <div class="column"></div>
            <div class="column"><div class="big ui red button" ng-click="ok(0)">0</div></div>
        </div>
    </div>
</div>

<div class="actions">
  <div class="ui button" ng-click="cancel()">Cancel</div>
</div>
